name: Infrastructure - Provision Kubernetes Cluster

on:
  push:
    paths:
      - infra/**
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      working-directory: infra
      run: terraform init

    - name: Terraform Plan
      working-directory: infra
      run: terraform plan

    - name: Terraform Apply
      working-directory: infra
      run: terraform apply -auto-approve
